.about {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1abc9c;
  color: white;
  h2 {
    font-size: 2.5rem;
    font-weight: 600;
  }
}
